.frameChild {
  width: 14px;
  position: relative;
  height: 14px;
}
.letsWork {
  position: relative;
  letter-spacing: 0.33em;
}
.polygonParent {
  border-radius: var(--br-13xl);
  background-color: var(--color-gray-900);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-5xs);
  z-index: 1;
}
.joinUsToday {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-55xl);
  line-height: 115%;
  font-family: var(--font-satoshi);
  z-index: 2;
}
.instanceParent {
  width: 609px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-5xl);
}
.frameParent {
  width: 1200px;
  border-radius: var(--br-13xl);
  background-color: var(--color-dodgerblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-61xl);
  box-sizing: border-box;
}
.cta {
  background-color: var(--stone-900);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-121xl) var(--padding-101xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--ffffff);
  font-family: var(--body-regular);
}
