.frameChild {
  width: 14px;
  position: relative;
  height: 14px;
}
.ourServices {
  position: relative;
  letter-spacing: 0.33em;
}
.polygonParent {
  border-radius: var(--br-13xl);
  background-color: var(--color-gray-900);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-5xs);
}
.bestOffersTo {
  margin: 0;
}
.bestOffersToContainer,
.weAreA {
  width: 510px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 115%;
  display: inline-block;
  flex-shrink: 0;
}
.weAreA {
  width: 392px;
  font-size: var(--font-size-lg);
  line-height: 135%;
  color: var(--color-gray-700);
}
.bestOffersToSuitYourNeedsParent {
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: var(--font-size-45xl);
  font-family: var(--font-satoshi);
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 1;
}
.child {
  align-self: stretch;
  width: 686px;
  position: relative;
  border-radius: var(--br-29xl);
  max-height: 100%;
  object-fit: cover;
}
.div,
.services,
.services1 {
  display: flex;
  justify-content: flex-start;
}
.div {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-13xl);
}
.services,
.services1 {
  flex-direction: column;
  align-items: flex-start;
}
.services1 {
  width: 1200px;
  gap: var(--gap-13xl);
  z-index: 2;
}
.services {
  background-color: var(--stone-900);
  overflow: hidden;
  padding: var(--padding-121xl) var(--padding-101xl);
  position: relative;
  gap: var(--gap-89xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--ffffff);
  font-family: var(--body-regular);
}
