.peopleHaveThe,
.theBestSupport {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.peopleHaveThe {
  font-size: var(--font-size-lg);
  color: var(--stone-500);
}
.paragraph {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.starIcon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.starParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs-6);
}
.memojiIcon {
  width: 40px;
  position: relative;
  border-radius: var(--br-980xl);
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ceoOfBank,
.jamesArthur {
  width: 138px;
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
}
.jamesArthur {
  font-weight: 500;
}
.ceoOfBank {
  font-size: var(--font-size-sm);
  color: var(--stone-500);
}
.jamesArthurParent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.card,
.frameParent,
.jamesArthurParent,
.memojiParent {
  display: flex;
  justify-content: flex-start;
}
.memojiParent {
  width: 332px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.card,
.frameParent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-lg);
  color: var(--stone-900);
  font-family: var(--body-regular);
}
.card {
  width: 690px;
  border-radius: var(--br-5xl);
  background-color: var(--ffffff);
  padding: var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--stone-800);
  font-family: var(--font-satoshi);
}
