.child,
.div {
  align-self: stretch;
}
.child {
  width: 686px;
  position: relative;
  border-radius: var(--br-29xl);
  max-height: 100%;
  object-fit: cover;
}
.div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
