.veenice {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.iconssocial {
  width: 20px;
  position: relative;
  height: 20px;
}
.frameParent,
.iconssocialWrapper,
.veeniceParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconssocialWrapper {
  border-radius: var(--br-13xl);
  padding: var(--padding-xs);
}
.frameParent,
.veeniceParent {
  gap: var(--gap-base);
}
.veeniceParent {
  align-self: stretch;
  border-radius: var(--br-29xl);
  background-color: var(--color-whitesmoke-200);
  align-items: center;
  padding: var(--padding-5xs) var(--padding-21xl);
  gap: var(--gap-53xl);
  text-align: left;
  font-size: var(--body-regular-size);
  color: var(--ffffff);
  font-family: var(--font-satoshi);
}
