.markIcon {
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.markIcon,
.veenice {
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-base);
}
.home {
  position: relative;
  line-height: 140%;
  color: var(--ffffff);
}
.about,
.home {
  font-weight: 500;
}
.about,
.service {
  position: relative;
  line-height: 140%;
}
.frameIcon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.navMenu,
.serviceParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.serviceParent {
  justify-content: flex-start;
  gap: var(--gap-11xs);
  font-family: var(--body-regular);
}
.navMenu {
  justify-content: center;
  gap: var(--gap-37xl);
  font-size: var(--body-regular-size);
  color: var(--color-gray-200);
}
.logoParent,
.nabar,
.nabarInner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.logoParent {
  flex: 1;
  align-items: center;
  gap: var(--gap-85xl);
}
.nabar,
.nabarInner {
  align-items: flex-start;
}
.nabar {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-5xl) var(--padding-101xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--ffffff);
  font-family: var(--font-satoshi);
}
