.sellIcon {
  width: 56px;
  position: relative;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
}
.freeConsultantsFor,
.weHaveSet {
  align-self: stretch;
  position: relative;
}
.freeConsultantsFor {
  letter-spacing: -0.01em;
  line-height: 120%;
}
.weHaveSet {
  font-size: var(--body-regular-size);
  line-height: 140%;
  color: var(--color-whitesmoke-100);
}
.freeConsultantsForFreeUserParent,
.paragraph {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.paragraph {
  border-radius: var(--br-5xl);
  background-color: var(--stone-800);
  flex-direction: row;
  padding: var(--padding-5xl);
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--ffffff);
  font-family: var(--font-satoshi);
}
