.property11Child {
  position: absolute;
  top: 47px;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--blue-600);
  width: 313px;
  height: 193px;
}
.frameIcon,
.property11Inner,
.property11Item {
  position: absolute;
  top: 92.5px;
  left: 169.5px;
  border-radius: var(--br-4xl);
  width: 152.3px;
  height: 152.3px;
  object-fit: contain;
}
.frameIcon,
.property11Inner {
  top: 77.4px;
  left: 93.4px;
  width: 143.8px;
  height: 143.8px;
}
.frameIcon {
  top: 12.7px;
  left: -12.3px;
  border-radius: var(--br-13xl);
  width: 168.2px;
  height: 168.2px;
}
.property11 {
  width: 313px;
  height: 240px;
  overflow: hidden;
  flex-shrink: 0;
}
