.heropage,
.heropage1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.heropage1 {
  gap: var(--gap-85xl);
}
.heropage {
  background-color: var(--color-dodgerblue);
  overflow: hidden;
  gap: 84px;
}
.testimonials {
  background-color: var(--stone-800);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-121xl) var(--padding-101xl);
  position: relative;
  gap: var(--gap-89xl);
}
.dekstop,
.footer,
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer {
  width: 1440px;
  background-color: var(--stone-900);
  align-items: flex-end;
  padding: 88px var(--padding-101xl) var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-37xl);
}
.dekstop {
  position: relative;
  width: 100%;
  align-items: flex-start;
}
